@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #0AD23F;
  --text-color: #30372F;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", Inter;
  padding: 18px;
  background-color: white;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  list-style-type: none;
  scroll-behavior: smooth;
}

.scroll-down-arrow {
  animation: scrollDown 1.5s infinite;
}

@keyframes scrollDown {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}

.scroll-up-arrow {
  animation: upanddown 1.5s infinite;
}

@keyframes upanddown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
